## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
pow7_4  = 7 ** 4

In [ ]:
pow7_4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"

In [ ]:
list1 = s.split(" ")

In [ ]:
list1

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = "12742"

In [ ]:
str = "The diameter of {Planet} is {Diameter} kilometers."

In [ ]:
out = str.format(Planet=planet, Diameter=diameter)

In [ ]:
out

'The diameter of Earth is 12742 kilometers.'

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
out = lst[3][1][2][0]

In [ ]:
out

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
list1 = d['k1']
dict2 = list1[3]
list2 = dict2['tricky']
dict3 = list2[3]
list3 = dict3['target']
result = list3[3]

In [ ]:
result

'hello'

** What is the main difference between a tuple and a list? **

 tuples are immutable and only elements of same datatype can be stored where as lists are mutable and elements of different datatypes can be stored.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
email  = "user@domain.com"

In [ ]:

for indx in range ( 0 , len(email) , 1):
    if(email[indx] == '@'):
            out = email[indx+1 : len(email)]
            break
out

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(sentence):
    for indx in range(0, len(sentence)):
        if(sentence[indx:indx+3] == "dog"):
            return True            
        indx += 1;
    return False;

In [ ]:
findDog("The dog Barked!")

True

In [ ]:
findDog("the Dog Barked!")

False

In [ ]:
findDog("the dog's name is tom")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def findDogCount(sentence):
    count = 0;
    for indx in range(0, len(sentence)):
        if(sentence[indx:indx+3] == "dog"):
            count += 1
            indx += 3
        indx += 1
    return count

In [ ]:
findDogCount("The dog's name is Tom. Tom is a dog")

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(100, False)

'Big Ticket'

In [ ]:
caught_speeding(60, False)

'No Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [2]:
empDetails = [["Kesav", 60000],["Deekshi", 11111],["Giridhar",554554],["koushik",54455],["Malai",24456],["Raghav",565445]]

In [3]:
tot = 0;
for emp in empDetails:
    tot += emp[1]
print(tot)

1270021

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [4]:
dict1 = {"Empid":1, "Empname" : "Kesav","Basicpay" : 55454}
dict2 = {"DeptName":"IT" , "Deptid" : 205}
dict1.update(dict2)
print(dict1)

{'Empid': 1, 'Empname': 'Kesav', 'Basicpay': 55454, 'DeptName': 'IT', 'Deptid': 205}